*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #23272A;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 330px;
    height: 500px;
    background-color: #23272A;
    box-shadow: 10px 10px 10px #151517, inset 10px 10px 10px #151517;
    border-radius: 8px;
    margin: 60px auto;
    position: relative;
}

.wrapper-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.circle-photo{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 4px solid #2b343b;
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.title{
    text-align: center;
    padding: 20px 0;
    color: snow;
}

.rangerBar{
    text-align: center;
}

span{
    color: snow;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px;
}

.circle-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(128.66deg, #F9630F 15.78%, #FF0B0B 84.11%);
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.25), inset -4px -4px 8px rgba(0, 0, 0, 0.25);
}

#start-btn{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-55%, -50%);
}

i{
    color: snow;
    font-size: 19px;
}

.fa-backward:hover, .fa-forward:hover, .fa-undo:hover{
    color: orangered;
}

.controls-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link{
    text-align: center;
    color:snow;
}

.link a{
    color: #ff5e00;
    cursor: pointer;
    text-decoration: none;
}

#stop-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stop{
    display: none;
}

/* Inputs range custom */
#timerBar{
    -webkit-appearance: none;
    width: 210px;
    height: 12px;
    outline: none;
    border-radius: 15px;
    background: #121212;
    box-shadow: inset 4px 4px 4px rgba(139, 133, 133, 0.25);
    overflow: hidden;
}

#timerBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 

    background: snow;
    cursor: pointer;
    border: 2px solid snow;
    box-shadow: -407px 0 0 400px #FF0000;
    background: linear-gradient(270deg, #FC5B00 0%, #FF0000 100%);;
}

#timerBar::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background:snow;
    cursor: pointer;
}

#volume{
    -webkit-appearance: none;
    width: 110px;
    height: 10px;
    outline: none;
    border-radius: 15px;
    background: #C4C4C4;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 

    background: snow;
    cursor: pointer;
    border: 2px solid snow;
    box-shadow: -407px 0 0 400px #FF0000;
    background: linear-gradient(270deg, #FC5B00 0%, #FF0000 100%);
}

#volume::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background:snow;
    cursor: pointer;
}

